/* border; left */
/* div class page wrapper */

html{
    font-family: Arial;
}

body{
 background-color: lightgray;
  }
.container {
    width: auto;
    background-color: whitesmoke;
   align-items: center;
  }
h1{
    font-size: 2rem ;
    align-content: center;
    color: rgba(175, 15, 63, 0.87);
    }
h2 {
    text-align: center;
    padding-top: 50px;
}
nav {
    font-size: 1rem;
    text-align: right;
    padding: 1%;
}

nav a {
    border-left: 1px solid lightgrey;
    margin: 2px;
    padding: 8px;
    color: black;
}

a.active {
    color: red;
}

#search-id {
    width: 15px;
    height: 15px;
    margin: 2px;
    padding: 8px;
    border-left: 1px solid lightgrey;
}

main {
    background-color: lightgray;
 } 

 footer {
    display: block;
    background-color: whitesmoke;
    align-items: center;

}

.cards {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
 }
  
.card1 {
    background-color: whitesmoke;
    padding: 30px 20px 20px 30px;
    border-radius: 30px;
    margin: 20px;
}
.card2 {
    background-color: whitesmoke;
    padding: 30px 20px 20px 30px;
    border-radius: 30px;
    margin: 20px;
}
.card3 {
    background-color: whitesmoke;
    padding: 30px 20px 20px 30px;
    border-radius: 30px;
    margin: 20px;
}
.card4 {
    background-color: whitesmoke;
    padding: 30px 20px 20px 30px;
    border-radius: 30px;
    margin: 20px;
}
.card5 {
    background-color: whitesmoke;
    padding: 30px 20px 20px 30px;
    border-radius: 30px;
    margin: 20px;
}
.card6 {
    background-color: whitesmoke;
    padding: 30px 20px 20px 30px;
    border-radius: 30px;
    margin: 20px;
}   

.cards p {
    font-size: .85rem;
    margin-top: 10px
}

footer p {
    display: block;
    text-align: center;
    justify-items: flex-end;

}

/* active, howver, focus states styling */